<html>
    <body>
        <form action="/insertProduct" method="post">
            Product id:<input type="text" name="prodid" id="prodid"><br>
            Product Name :<input type="text" name="pname" id="pname" ><br>
            Product Price:<input type="text" name="price" id="price" ><br>
            <button type="submit" name="btn" id="btn", value="btn">Add product</button>
        </form>
    </body>
</html>